<!DOCTYPE html>
<html>
<head>
  <title>YH</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- New header -->
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
          <%= link_to "Hi i'm dolly", '#', id: "logo" %>
</div>
</div>
</header>

<!-- Content wrapped in container -->
<div class="container">
  <%= yield %>
  <!-- New footer -->
  <footer class="footer">
    <small>
      <a href="http://codecamp.io">嫩嫩學程式</a>
    </small>
    <br>
  </footer>
  <!-- Debugging footer -->
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
